*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    background-color: rgb(252, 252, 171);
    padding: 50px;
    display: grid;
    grid-template-columns:repeat(4,minmax(200px,1fr)) ;
    grid-template-rows: repeat(2,minmax(200px,1fr));
    gap: 10px;
}
.grid .item {
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: bisque;
}
.grid .item p{
    color: rgb(229 224 224 / 45%);
    font-weight: bold;
}
.grid .item .main{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-block:20px ;
}
.grid .item .head{
    display: flex;
    gap: 20px;
}

.grid .item .name h3{
    color: white;
    font-size: 20px;
}
.grid .item .head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(58, 57, 57);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px grey;
}
.grid .item1{
    grid-area: 1/1/1/3;
    background-color: rgb(63 1 1 / 87%);
}
.grid .item2{
    background-color: #b39ca6c7;
}
.grid .item2 p:not(.main){
    color: white;
}
.grid  .item3{
    grid-area: 1/4/3/5;
    background-color: #654336;
}
.grid  .item4{
    background-color: #ff900ca8;
}
.grid  .item5{
    grid-area: 2/2/3/4;
    background-color: #4f5f4b;
}
@media(max-width:500px){
    .grid{
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,1fr) ;
    }
    .grid .item {
        padding-inline: 10px;
        grid-area: unset;
    }

}
@media((min-width:501px) and (max-width:1000px)){
    .grid{
        grid-template-columns: repeat(2,minmax(200px,1fr));
        grid-template-rows: auto;
    }
    .grid .item {
        padding-inline: 10px;
        grid-area: unset;
    }

}